<head>
  <meta charset="UTF-8">
  <meta name="google-site-verification" content="CuRwIbDP2wUjusIt3KgN5XY-ZSgkv4YNPv7szOVSouc" />

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!-- Some stupid SEO stuff -->
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
  <link rel="author" href="https://twitter.com/lucazz"/>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@lucazz">
  <meta name="twitter:creator" content="@lucazz">
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:site_name" content="Lucas do Amaral Saboya" />

  <!-- title stuff -->
  {% if page.title == "Home" %}
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="og:title" content="{{ site.title }}">
  <title>{{ site.title }} &middot; {{ site.tagline }}</title>
  {% else %}
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="og:title" content="{{ page.title }}">
  <title>{{ page.title }} &middot; {{ site.title }}</title>
  {% endif %}

  <!-- Description -->
  {% if page.title == "Home" %}
  <meta name="description" content="Lucas do Amaral Saboya is a site reliability engineer with several years experience, a researcher and is always learning new stuff">
  <meta name="twitter:description" content="Lucas do Amaral Saboya is a site reliability engineer with several years experience, a researcher and is always learning new stuff">
  <meta name="og:description" content="Lucas do Amaral Saboya is a site reliability engineer with several years experience, a researcher and is always learning new stuff">
  {% else %}
  <meta name="description" content="{{ page.content | strip_html | truncatewords: 50 }}">
  <meta name="twitter:description" content="{{ page.content | strip_html | truncatewords: 50 }}">
  <meta name="og:description" content="{{ page.content | strip_html | truncatewords: 50 }}">
  {% endif %}

  <!-- CSS -->
  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-precomposed.png">
  <link rel="icon" type="image/png" href="/favicon.png" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='//fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}atom.xml">

  <link href="{{ site.baseurl }}public/css/style.css" rel="stylesheet">
  <link href="{{ site.baseurl }}public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}public/css/theme.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="{{ site.baseurl }}public/respond/Respond.min.js"></script>
  <![endif]-->

  <!-- Load jQuery -->
  <script type="text/javascript" src="/public/jquery/jquery.min.js"></script>

  <link href="{{ site.baseurl }}rss.xml" type="application/rss+xml" rel="alternate" title="Blog RSS Feed">
</head>
