      <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/">
              <div class="main-logo"></div>
            </a>
          </div>

          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav pull-left">
              <li><a href="/" title="Home">Home</a></li>
              <li><a href="archive.html" title="Archive">Archive</a></li>
              <li><a href="resume.html" title="Resume">Resume</a></li>
            </ul>

            <ul class="nav navbar-nav pull-right">
              <li><a href="https://github.com/lucazz"><i class="socicon github"></i></a></li>
              <li><a href="https://twitter.com/lucazz"><i class="socicon twitter"></i></a></li>
              <li><a href="https://br.linkedin.com/in/lucasdoamaral"><i class="socicon linkedin"></i></a></li>
              <li><a href="http://www.lucazz.me/rss.xml"><i class="socicon rss"></i></a></li>
            </ul>
          </div>
        </div>
      </nav>
