<!DOCTYPE html>
<html lang="en">
{% include head.html %}
  <body>

{% include nav.html %}

      <div id="jumbo">
        <p>I AM LUCAS DO AMARAL SABOYA, AKA <b>LUCAZZ</b></p>
      </div>

      <div class="blue-jumbo">
        I'm working as <b>Site Reliability Engineer</b>, practicing <i>DevOps-fu</i> and always learning something new.
      </div>

      <div id="sub-jumbo">
        Cloud yourself <b>UP!</b>
      </div>


      <div class="container">
        {{ content }}
      </div>

{% include foot.html %}

    </body>
</html>
